asgiref==3.11.1
certifi==2026.6.17
charset-normalizer==3.4.9
django==6.0.7
django-environ==0.14.0
django-filter==25.2
djangorestframework==3.17.1
idna==3.18
markdown==3.10.2
psycopg==3.3.4
psycopg-binary==3.3.4
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
whitenoise==6.12.0