.content {
    /* margin-top: 180px;
    margin-bottom: 500px;
    background-color: var(--secondary);
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 12px 3px #4A5566; 
    box-shadow: 0px 0px 12px 3px #4A5566;
    border: none; */
}
